/* lyrics table styling */
p {
    color: #000
}
.lyricsTable {
    width: 95%;
    margin-top: -10px;
}

.lyricsTableAbout {
    color: rgb(0, 98, 255);
    text-align: left;
    width: 100px;
    font-family: times;
}

.lyricsTableAboutData {
    border-bottom: 2px dotted #000;
    padding: 10px;
}



/* table head, code head bold extension title */
.tableHeadBoldTypeH2 {
    text-align: left;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    word-wrap: break-word;
    background-color: #1BDB94;
    height: 10px;
    align-items: center;
    display: inline-flex;
    color: #fff;
    text-transform: capitalize;
    word-wrap: break-word;
    text-align: left;
    text-shadow: 1px 1px 1px #000;



}

.tableHeadBoldTypeData,
.lyricsTableAboutMain {
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    word-wrap: break-word;
    background-color: #ffffff;
    height: 10px;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    /* margin: 10px;     */

}

.tableHeadBoldTypeH2:hover,
.tableHeadBoldTypeData:hover,
.lyricsTableAboutMain:hover {
    box-shadow: 0 0 5px #000;
    transition: 0.2s ease-in-out;
}

.tableHeadBoldTypeData p,
.lyricsTableAboutData {
    border-bottom: 2px dotted black;
    color: blue;
    font-family: kokila;
    font-size: 28px;
    padding: 3px;
    transition: 0.4s;
    text-transform: capitalize;
    margin: 3px;
    padding: 10px;
}

.lyricsTableAboutData {
    border-bottom: 2px dotted black;
    color: rgb(0, 0, 0);
    padding: 3px;
    transition: 0.4s;
    margin: 3px;
    font-weight: 600;
    font-size: 20px;

    text-transform: capitalize;
}

.tableHeadBoldTypeData p:hover,
.lyricsTableAboutData:hover {
    box-shadow: 0 0 2px #000000;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}


/* main page css button*/
.mainPageTopicButton{padding:20px 15px;margin:5px;width:fit-content;color:#fff;word-wrap:break-word;font-size:22px;white-space:normal;align-items:center;text-decoration:none;border-radius:5px;border-top:2px solid #fff;border-left:none;border-right:none;transition:.5s;background-color:#f0f8ff;border-bottom:2px solid #000}
.mainPageTopicButton:hover{box-shadow:0 0 10px #1BDB94;transition:.2s;background-color:#1BDB94}
.mainPageTopicButton a{color:#000;text-decoration:none}
.mainPageTopicButton a:hover{transition:.3s;color:#fff;text-shadow:0 0 5px #000}
.mainPageTopicBox{align-items:center;text-align:center}
.mainPageTopicFeedDiv{margin:5%;text-decoration:none}
.mainPageTopicFeedDiv a{margin-left:15px;text-decoration:none;transition:.4s;text-decoration:none;color:#082ba9}
.mainPageTopicFeedDiv a:hover{color:#1BDB94;text-decoration:underline;transition:.4s;font-weight:700}
@media only screen and (min-width: 1501px) {
.mainPageTopicButton{width:25%}
}
@media only screen and (max-width: 1500px) {
.mainPageTopicButton{width:30%}
}
@media only screen and (max-width: 1200px) {
.mainPageTopicButton{width:35%}
}
@media only screen and (max-width: 900px) {
.mainPageTopicButton{width:40%}
}
@media only screen and (max-width: 680px) {
.mainPageTopicButton{width:90%}
}

/* lesson list and head box */
.lessonTopicHeadBox{border-radius:5px;color:#fff!important;background-color:#08a96e;box-shadow:0 0 5px #1BDB94;border-top:2px solid #fff;border-bottom:2px solid #000;height:35px;font-family:sans-serif;margin:10px;padding:5px;padding-left:20px;padding-right:20px;margin-bottom:10px;margin-left:20px;line-height:1.5;display:flex;align-items:center;width:fit-content;font-weight:700}
.postListDivTime{transition:.6s}
.chapterDivList{border-radius:5px;border-bottom:2px solid #000;border-top:2px solid #fff;color:#000;margin:10px;padding:10px;align-items:center;display:flex;transition:.6s;background-color:#f0f8ff;font-family:sans-serif;line-height:24px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.chapterDivList a{color:#fff}
.chapterDivList:hover{border-radius:25px;border-bottom:2px solid #000;border-top:2px solid #fff;color:#fff!important;padding-left:30px;transition:.4s;background-color:#1BDB94;box-shadow:0 0 5px #1BDB94;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;text-shadow:0 0 5px #000}
.chapterDivList a{color:#000!important;text-decoration:none;transition:.6s}